body {
    font-family: 'Libre Franklin', sans-serif;
    background-image: url(https://img.freepik.com/premium-photo/defocused-slot-machines-glow-casino-las-vegas-usa-illuminated-neon-gambling-slots_333216-10.jpg?w=2000);
}


.hidden {
    display: none;
}

.not-hidden {
    border: red;
}

#all-content {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    background-color: blanchedalmond;
    padding: 15px;
    border-radius: 6px;
    text-align: center;
}

/* --------------- heading ------------- */

h1 {
    font-family: 'Fraunces', serif;
    text-decoration: underline;
}

#celebrate {
    font-size: 50px;
    color: rgb(21, 75, 38);
    text-shadow: 0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translate(0px, -10px)
    }

    50% {
        transform: translate(0)
    }
}

.round-data {
    display: flex;

}

/* -------------- player inputs ------------ */

#player-1 {
    display: inline-block;
    margin: 5px 20px;
}

#player-1-input {
    width: 30px;
}

#player-2-input {
    width: 30px;
}

#player-2 {
    display: inline-block;
    margin: 5px 20px;
}

#submit-guesses {
    background-color: rgb(100, 25, 25);
    color: white;
    border: none;
    font-size: 20px;
    margin: 4px;
    padding: 4px 10px;
    border-radius: 6px;
}

#submit-guesses:hover {
    background-color: rgb(154, 54, 54);
    cursor: pointer;
}

#submit-guesses:active:not(:disabled) {
    transform: scale(.95)
}

#submit-guesses:disabled {
    cursor: default;
    background-color: grey;
}

.number-change {
    animation: change 1s 1;
}

@keyframes change {
    0% {
        transform: scaleY(0)
    }

    100% {
        transform: scaleY(1)
    }
}

/* -------------- guess display -------------- */
#display-container {
    min-height: 100px;
    max-height: 400px;
    overflow-y: scroll;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px
}

.round-number {
    background-color: rgb(249, 255, 214);
    padding: 60px 4px 4px 4px;
    margin: 2px;
}

.round-num {
    font-weight: 700;
    font-size: 30px;
}

.p1-data,
.p2-data,
.bot-data {
    padding: 5px 15px;
    text-align: center;
    margin: 2px;
    width: 30%;
}

.p1-data {
    background-color: rgb(214, 214, 255)
}

.p2-data {
    background-color: rgb(253, 209, 209);
}

.bot-data {
    background-color: rgb(209, 253, 223);
}

.diff {
    margin-top: 20px;
    font-style: italic;
}

#guess-list h2 {
    font-weight: 700;
    font-size: 16px;
}

/* -------------- reset container --------------- */

#reset-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
    /* border: 2px solid green; */
    padding: 10px;
    border-radius: 4px;
    background-color: rgba(152, 130, 69, 0.291)
}

#reset-container h2 {
    font-family: "Fraunces", serif;
    margin: 0 0 10px 0;
}

#reset {
    background-color: rgb(100, 25, 25);
    color: white;
    border: none;
    font-size: 20px;
    margin: 4px;
    padding: 4px 10px;
    border-radius: 6px;
}

#reset:hover {
    background-color: rgb(154, 54, 54);
    cursor: pointer;
}

#reset:active {
    transform: scale(.95)
}